<%= render "nbar" %>

<h2>Forgot your password?</h2>

Sorry, but password recovery is an unsupported feature. Please contact the administrator and grovel for your password.

<br>

<%= render "devise/shared/links" %>
