<%= render "nbar" %>
<div class="container">
	<h2>Forgot your password?</h2>

	<p>Sorry, but password recovery is an unsupported feature. Please contact the administrator and grovel for your password.</p>

	<br>

	<%= render "devise/shared/links" %>
</div>