<!DOCTYPE html>
<html lang="en">
  <body>   
    <!-- This is the code for the navigation bar -->
    <%= render 'nbar' %>

    <div class="container">
        <h1>New Talent</h1>

        <%= render 'form' %>

        <%= link_to 'Back', talents_path, :class => "btn btn-default" %>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>

