<%= render 'nbar' %>

<h1>Editing Rated Talent</h1>

<p>Editing rated talents through this method is unsupported, please edit your talents through the dashboard.</p>

<%= link_to 'Back', rated_talents_path %>
