<%= render 'nbar' %>

<h1>New Rated Talent</h1>

<p>Creating rated talents through this method is unsupported, please edit your talents through the dashboard.</p>

<%= link_to 'Back', rated_talents_path %>
