<!DOCTYPE html>
<html lang="en">
  <body>
  	
    <%= render 'nbar' %>

		<h1>Editing User</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>  
  </body>
</html>