<!DOCTYPE html>
<html lang="en">
  <body>

    <%= render 'nbar' %>
    <div class="container">
  		<h1>New User</h1>

  		<p class="lead">Creating new users in this way is unsupported. If you wish to create an account, please use our sign-in.</p>

  		<%= link_to 'Back', users_path, :class => "btn btn-default" %>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>  
  </body>
</html>
